<!DOCTYPE html>
<html>

<head>
    <title>404909</title>
    <script src="assets/js/axios.min.js"></script>
    <script src="assets/js/vue.min.js"></script>
    <script src="assets/js/vuetify.js"></script>
    <link href="assets/css/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="app">
        <v-app id="inspire">
            <div>
                <v-container>
                    <v-row>
                        <v-col cols="12" md="8">
                            <v-col v-for="card in cards" :key="card.key">
                                <v-card max-width="500">
                                    <v-img :src="card.imgl" class="white--text align-end"></v-img>

                                    <v-card-title v-text="card.text"></v-card-title>
                                    <v-card-subtitle v-text="card.date"></v-card-subtitle>

                                    <v-card-actions>
                                        <v-btn text color="orange" v-text="card.code" :href="card.link" target="_blank">
                                        </v-btn>
                                        <v-btn text color="green" v-text="card.name" @click="search_name(card.name)">
                                        </v-btn>
                                        <v-btn text color="lime" v-text="card.makr" @click="search_makr(card.makr)">
                                        </v-btn>
                                        <v-btn icon color="pink" :href="card.down" target="_blank">
                                            <v-icon>mdi-heart</v-icon>
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-col>
                        </v-col>

                        <v-col cols="6" md="4">
                            <v-text-field solo label="Search" v-model="searchcontent"
                                @keyup.enter="search_word(searchcontent)">
                            </v-text-field>
                            <v-card>
                                <v-card-text>
                                    <v-chip v-for="acname in actornames" :key="acname" v-text="acname" color="green"
                                        @click="search_name(acname)" outlined>
                                    </v-chip>
                                </v-card-text>
                            </v-card>
                            <v-card>
                                <v-card-text>
                                    <v-chip v-for="mkname in makernames" :key="mkname" v-text="mkname" color="orange"
                                        @click="search_makr(mkname)" outlined>
                                    </v-chip>
                                </v-card-text>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
            </div>

            <div class="text-center">
                <v-pagination v-model="page" :length="99" @input="next_page" :total-visible="9"></v-pagination>
            </div>

        </v-app>
    </div>

    <script>
        const BASE_URL = "http://www.404909.xyz"
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: () => ({
                page: 1,
                cards: '',
                actornames: '',
                makernames: '',
                searchcontent: '',
            }),
            mounted: function () {
                this.get_cards_info()
            },
            computed: {
                target() {
                    return 0
                },
                options() {
                    return {
                        duration: 1000,
                        offset: 0,
                        easing: 'linear'
                    }
                },
            },
            methods: {
                /*
                get_cards_info: function () {
                    axios.get(BASE_URL + '/list')
                        .then(function (response) {
                            this.cards = response.data;
                        }.bind(this))
                        .catch(function (error) {
                            console.log(error);
                        });
                },
                next_page: function (page) {
                    this.$vuetify.goTo(this.target, this.options);
                    axios.get(BASE_URL + '/list?page=' + page)
                        .then(function (response) {
                            this.cards = response.data;
                        }.bind(this))
                        .catch(function (error) {
                            console.log(error);
                        });
                },
                */
                search_word: function (word) {
                    this.$vuetify.goTo(this.target, this.options);
                    axios.get(BASE_URL + '/search?word=' + encodeURIComponent(word.toUpperCase()))
                        .then(function (response) {
                            this.cards = response.data;
                        }.bind(this))
                        .catch(function (error) {
                            console.log(error);
                        });
                },
            },
        })
    </script>
</body>

</html>